doctype html
html
    head
        title Page d'accueil
        style
            include style/css/test.css
    body
        h1  Rebonjour, vous êtes connectés
        form(action="/add", method="GET" style="display:inline-block")
            button(type="submit", class="myButton") Ajouter un vin
        form(action="/logout", method="POST" style="display:inline-block")
            button(type="submit", class="myButton") Déconnexion
        form(action="/", method="GET" style="display:inline-block")
            button(type="submit", class="myButton") Accueil
        div(style="margin-left:2%;margin-top:2%")
            table
                thead
                    tr
                        th Nom
                        th Description
                        th Quantité
                tbody
                    each item in Vines
                        tr
                            td()= item.Name
                            td()= item.Description
                            td()= item.Quantity
                                form(action="/plus", method="POST" style="display:inline-block;margin-left:10%")
                                    button(type="submit" class="myButton") +
                                    input(type="hidden", name="plus", value=item.id)
                                form(action="/minus", method="POST" style="display:inline-block;margin-left:2%")
                                    button(type="submit" class="myButton") -
                                    input(type="hidden", name="minus", value=item.id)